.collection {
    border: solid 1px black;
    border-radius: 1em;
    border: 5px solid;
    alignItems: center;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    background-color: aqua;
}

.collection:hover {
    background-color: rgb(86, 42, 129);
}

.text-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.text {
    font-size: 1.5em;
    display: block;
}
